h1{
    color: red;
    background: blue;
    border: dotted yellow;
    margin: 5px;
    padding: 10px;

}
.img1{
    border-bottom: 10px black dashed;
    border-radius: 25px;
    width: 50%;
    height: 50%;

}
.img2{
    width: 50%;
    height: 50%;
    border-radius: 25px;
    border-bottom: 10px black dashed;
}
div {
    text-align:  center;
    right: 500px;
    width: 500px;
    background-color: aqua;
    padding: 10px;
    border: 5px solid gray;
    margin: 5px;
}
.text1{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
.text2{
    text-indent: 50px;
}

.text21{
    spacing: 5px;
    word-spacing: 5px;
}
.text22{
    text-transform:capitalize;
}
.text23{
    text-transform:lowercase;
}
.text24{
    text-transform:uppercase;
}
.text25{
    line-height: 10;
}
.text26{
    text-shadow: 2px 3px gray;
}
