.container-1 {
    background-color: gold;
    border: 2px aqua solid;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column;
    height: 500px;
}

.container-box {
    width: 100%;
    background-color: #f52bff;
    border: 2px #0909ff solid;
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}
.container-box-box {
    height: 50px;
    width: 90%;
    flex-basis: 100%;
    margin: 5px;
    border: #74b06b 2px solid;
    border-radius: 5px;
    background-color: #ff3b00;
}

.container-box:nth-of-type(odd) {
    flex-grow: 1;
    background-color: #f3ff33;
}
.container-box:nth-of-type(even) {
    flex-grow: 2;
}
