.flex-container{
    background-color: #668ba0;
    height: 70px;
    flex-direction:row;
    display: flex;
    justify-content: space-around;
}
.ff {
    width: 33%;
    background-color: #668ba0;
    color: white;
    padding-top: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    text-align: center;

}
.ff:hover{
    background-color: #4C6C80;
}

.dropbtn {
    background-color: #668ba0;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4C6C80;
}

.m{
    height: 70%;
    width: 100px;
}