.flex-container{
    border-style: solid;
    border-width: 7px;
    border-color: #d69f51;
    border-radius: 5px;
    width:50%;
    height: 600px;
    flex-direction:column;
    justify-content: space-around;
    display: flex;
    align-items: center;
}


.fx{
    border-style: solid;
    border-width: 7px;
    border-color: #8abfd6;
    border-radius: 5px;
    height: 130px;
    width: 90%;
    display: flex;
    color:  #668ba0;


}




.fx:nth-of-type(even){
    flex-direction:row-reverse;
    text-align: end;

}

.fx:nth-of-type(odd){
    flex-direction:row;


}


.im{
    height: 100%;
}

.t{

    line-height: 40px;
}
