
.navme{
   background-color: white;
    opacity: 80%;
    border: none;
}
.astyle{
    color: black !important;
}

.astyle:hover{
    color: #BB80FF !important;
}
.astyle:active{
    color: white !important;
}


.navbar-toggler{

    background-color: #BB80FF;
    border:none;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.im{
    width:100%;

}

.hst{
  font-family:  impact;
    color: #7390E5;
}

.img1{
    border: solid !important;
    border-color:  #BB80FF !important;
    height:400px;
    margin-top: 70px;
    margin-left: 60px;
}

.bl{
    margin-top:210px;
}

.as{
    color: #B75FFF;
    font-weight: bolder;
    text-decoration: none;

}

.as:hover{
    color: #E85C66;
}

.as:active{
    color: #F3EAFF;
}

.par{
    background-color: #FBF9FF;
}

.im2{
    height:70% !important;
    width:70% !important;
}

.bcol{
    color: white;
    background-color:  #7390E5 ;
}
.bcol:hover{
    color: white;
    background-color: #E8807E ;
}

.ls{
    color:  #E8807E;
}


.ls:hover{
    color: white;
    background-color: #E8807E;
}
.l{
    color:  #E8807E;
}