
.red{
    background-color: #ff0000;
    height: 100px;
    float: top;
}
.hwhite{
    text-align: center;
    padding-top: 30px;
    color: white;
    font-family: Arial;
}
.leftgrey{
    width: 20%;
    height: 900px;
    float:left;
    background-color: #acb4c0;
}
.bold{
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    font-family: Arial;
}
.rightwhite{
    float:left;
    background-color: white;
    width: 80%;
    height: 900px;
}
.t{
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 10px;
    font-family: Arial;
}

.rose{
    background-color: #ff7e8a;
    height: 200px;
}

.bottomtext{
    color: white;
}

.bottom{
    text-align: center;
    padding: 20px;
    margin: 20px;
}