.main{
    background-color: black;
}
.div1{
    background-color: green;
    float: left;
    width: 33%;
    margin: 2px;

}
.hwhite{
    color: white;
    padding: 10px;
}
.pwhite{
    color:white;
    padding: 10px;
}
.div2{
    background-color: grey;
    float: left ;
    width: 33%;
    margin: 2px;

}
.div3{
    background-color: green;
    float: left ;
    width: 33%;
    margin: 2px;
}