.div21{
    background-color: #495a74;
    height: 300px;
}
.hwhite{
    color:white;
    padding-top: 30px;
    padding-left: 50px;
}
.pwhite{
    color:white;
    padding-left: 50px;
    line-height: 30px;
    word-spacing: 3px;
}
.inside {
    background-color: white;
    float: right;
    margin-right: 50px;
    margin-top:50px;
    width: 500px;
    height: 200px;
}

.div22{
    color:white;
    height:300px;
}

.hblue{
    color: #495a74;
    padding-top: 20px;
    padding-left: 20px;
}
.pblue{
    color:#495a74;
    padding-left: 20px;
    padding-right: 200px;
    line-height: 20px;

}
.hcenter{
    color:white;
    text-align: center;
    padding-top: 40px;
}

.div23{
    background-color: #495A74;
    height: 400px;
}


.jpeg{
    float:right;
    width:5px;
    height:5px;
}