.back{
    margin-left:22%;

}
.h1{
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
}
.tabl{
    margin-left:800px;
}
.o{
    margin-left:750px;

}
.h{
    text-align: center;
}
.par{
    text-align:center;
    padding-left:30%;
    padding-right:30%;
    line-height:40px;
    font-family: Arial;
}
.im{
    margin-left:40%;
    border-radius:10px;
}
.im2{
    margin-left:46%;
}
.im3{
    margin-left:46%;
}
.im4{
    margin-left:37%;
}

.line{
    color:grey;
    margin-left:23%;
    margin-right:23%;
}
.l:hover{
    color: #a841ff;
}