.navstyle{
    background-color: white !important;
    border: none;
}
.butstyle{
    background-color: white;
    border-color: #c33f3f;
    color: black;
}

.butstyle:hover{
    background-color: #c33f3f;
    color: white;
}

.navcolor{
    color: rgba(0,0,0,0.96) !important;
}

.navcolor:hover{
    color: #c33f3f  !important;
}

.flex-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}


.grad{

    background: linear-gradient(45deg, black 33%, #591D1D 66%, #fa4c4c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;


}

.under{
    text-decoration: underline;
    text-decoration-color: #c33f3f  ;
}

.but{
    border-radius: 15px;
    color:  #c33f3f;
}


.lastcont{
    border-style: solid;
    border-width: 3px;
    border-color:  #c33f3f;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}
