.bodyback{
    background-color: black;
}
.navstyle{
    background-color: black !important;
}
.flex-container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.fx {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flex-container2{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 70px;
}

.hov {
    color:white;
    text-decoration: none;
}
.hov:hover{
    color: red;
}
.hov2{
    color: #c33b12;
    margin-left: 35px;

}
.hov2:hover{
    color: white;
}
.size{
    width: 300px;
    height: 500px;
}