.klavishi{
padding:10px;
margin-left: 10px;
}
.calc{
    background-color: #73ADDC;
    width: 300px;
    margin: auto;
}





.screen {
    width: 60%;
    font-size: 16px;
    height: 46px;
    background-color: #89CDC1;

    padding-right: 20px;
    padding-left: 10px;
    margin: 10px;
    margin-bottom: 0px;
    margin-right: 3px;
}

.operator, .number {
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 3px;
}

.c {
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 10px;
    font-size: 16px;
}

