.cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}


button{
    width: 50%;
    margin-bottom: 14px;
    background-color: #5d85fa !important;
}
img{
    width: 200px;
}

footer{
    text-align: center;
    bottom: 0;
    background-color: #74b06b !important;
    position: fixed;
    width: 100%;
}

.loader{
    top: 50%;
    left:50%;
}