
.bor{
    border-color: #81a4ff;
}

.left1{
    float: left;
  }

.toleft{
    float:left;

}
.marginlabel{
    margin-bottom: 5px;
    margin-right: 15px;
}
.dif{
    margin-top:5px;
}
.dif1{
    margin-top:15px;
}
.inpcss{
    margin-top:5px;
}
.inpcss1{
    margin-top:12px;
}
.sec{
    float:left;
    margin-left:50px;
}
.leftbutton{
    margin-left:50px;
}
.divdown{
    margin-top:15px;
}